<div class="about">
  <!-- TODO: #6. Use Semantic HTML -->
  <h2>Who are we?</h2>
  <p class="mat-subheading-2">Have you ever thought, “wow, I love dumplings”?</p>
  <p class="right mat-subheading-1">Who hasn't.</p>
  <p class="center mat-subheading-1">We took it one step further and created Dumpling Dumpling,</p> 
  <p class="center mat-subheading-1">double the dumpling, double the fun.</p>
  <div class="spacer"></div>
  <h2>How are we different?</h2>
  <p class="mat-subheading-2">Handmade in San Francisco, California, we craft fully customizable dumplings. Glitter? Rainbows? Vegan? We do it all.</p>
  <p class="right mat-subheading-2">This shop is concept only.</p>
</div>
