
<mat-toolbar color="primary">
  <mat-toolbar-row class="title-header">
    <a class="home-icon" aria-label="Home"
     routerLink="/" routerLinkActive="active" color="primary">
     <img [src]="'/assets/logo_CAIXA_positivo.png'" alt="Logotipo CAIXA" >     
    </a>
    <h1 class="display-1" >Simulador de Crédito</h1>
    <button mat-icon-button 
      (click)="toggleTheme()" 
      matTooltip="Toggle theme"
      attr.aria-label="Switch to {{ isDark ? 'light' : 'dark' }} theme"
      color="primary">
      <mat-icon>brightness_medium</mat-icon>
  </button>
  </mat-toolbar-row>

  <mat-toolbar-row class="navigation-links">
    <nav>
      <a mat-button routerLink="/shop" routerLinkActive="active">Our Shop</a>
      <a mat-button routerLink="/about" routerLinkActive="active">Our Story</a>
      <a mat-button routerLink="/locate" routerLinkActive="active">Find Us</a>
      <a mat-button routerLink="/simulador" routerLinkActive="active">Simulador</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
